--
-- PostgreSQL database dump
--

\restrict cVfrNSnwfH8fkgsDtdkgKqrJKFUXXKe58TG1UtnVdJ1ObXDnBgWxg5JcmhsjXKO

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--



--
-- Data for Name: thesis_topics; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--



--
-- Data for Name: thesis_assignments; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--



--
-- Data for Name: committee_members; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--



--
-- Data for Name: examination_details; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--

COPY public.examination_details (id, thesis_id, scheduled_date, location, meeting_link, presentation_type, draft_file_path, supplementary_links, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: grades; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--

COPY public.grades (id, thesis_id, faculty_id, criteria_scores, total_grade, comments, created_at) FROM stdin;
\.


--
-- Data for Name: status_history; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--

COPY public.status_history (id, thesis_id, old_status, new_status, changed_by, change_reason, created_at) FROM stdin;
30c778a8-9a53-40dd-b83b-0472c50b1b72	91ef19cb-ec37-4326-a340-c79928ad94a3	\N	under_assignment	550e8400-e29b-41d4-a716-446655440005	\N	2025-09-17 08:40:58.256482+00
26709c29-e4b2-4009-a191-96aa703753de	91ef19cb-ec37-4326-a340-c79928ad94a3	under_assignment	active	550e8400-e29b-41d4-a716-446655440004	\N	2025-09-17 08:42:24.598555+00
\.


--
-- Data for Name: thesis_notes; Type: TABLE DATA; Schema: public; Owner: tsifakhs_user
--

COPY public.thesis_notes (id, thesis_id, faculty_id, content, created_at) FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

\unrestrict cVfrNSnwfH8fkgsDtdkgKqrJKFUXXKe58TG1UtnVdJ1ObXDnBgWxg5JcmhsjXKO

