--
-- PostgreSQL database dump
--

\restrict cBjPKHrBkxAi3CB5OpWEyrNxAHCNs4dWDCldQSNG7vcB7dEocSrFr1o9VykzRDS

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: committee_role; Type: TYPE; Schema: public; Owner: tsifakhs_user
--

CREATE TYPE public.committee_role AS ENUM (
    'supervisor',
    'member'
);


ALTER TYPE public.committee_role OWNER TO tsifakhs_user;

--
-- Name: invitation_status; Type: TYPE; Schema: public; Owner: tsifakhs_user
--

CREATE TYPE public.invitation_status AS ENUM (
    'pending',
    'accepted',
    'rejected'
);


ALTER TYPE public.invitation_status OWNER TO tsifakhs_user;

--
-- Name: thesis_status; Type: TYPE; Schema: public; Owner: tsifakhs_user
--

CREATE TYPE public.thesis_status AS ENUM (
    'under_assignment',
    'active',
    'under_examination',
    'completed',
    'cancelled'
);


ALTER TYPE public.thesis_status OWNER TO tsifakhs_user;

--
-- Name: user_type; Type: TYPE; Schema: public; Owner: tsifakhs_user
--

CREATE TYPE public.user_type AS ENUM (
    'faculty',
    'student',
    'secretariat'
);


ALTER TYPE public.user_type OWNER TO tsifakhs_user;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: tsifakhs_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO tsifakhs_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: committee_members; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.committee_members (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    thesis_id uuid NOT NULL,
    faculty_id uuid NOT NULL,
    role public.committee_role NOT NULL,
    invitation_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    response_date timestamp with time zone,
    status public.invitation_status DEFAULT 'pending'::public.invitation_status,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.committee_members OWNER TO tsifakhs_user;

--
-- Name: examination_details; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.examination_details (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    thesis_id uuid NOT NULL,
    scheduled_date timestamp with time zone NOT NULL,
    location character varying(255),
    meeting_link character varying(500),
    presentation_type character varying(20),
    draft_file_path character varying(500),
    supplementary_links text[],
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT examination_details_presentation_type_check CHECK (((presentation_type)::text = ANY ((ARRAY['in_person'::character varying, 'online'::character varying])::text[])))
);


ALTER TABLE public.examination_details OWNER TO tsifakhs_user;

--
-- Name: grades; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.grades (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    thesis_id uuid NOT NULL,
    faculty_id uuid NOT NULL,
    criteria_scores jsonb NOT NULL,
    total_grade numeric(4,2) NOT NULL,
    comments text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.grades OWNER TO tsifakhs_user;

--
-- Name: status_history; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.status_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    thesis_id uuid NOT NULL,
    old_status public.thesis_status,
    new_status public.thesis_status NOT NULL,
    changed_by uuid NOT NULL,
    change_reason text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.status_history OWNER TO tsifakhs_user;

--
-- Name: thesis_assignments; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.thesis_assignments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    topic_id uuid NOT NULL,
    student_id uuid NOT NULL,
    supervisor_id uuid NOT NULL,
    status public.thesis_status DEFAULT 'under_assignment'::public.thesis_status,
    assignment_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    completion_date timestamp with time zone,
    ga_decision_number character varying(50),
    ga_decision_year integer,
    cancellation_reason text,
    repository_link character varying(500),
    final_grade numeric(4,2),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.thesis_assignments OWNER TO tsifakhs_user;

--
-- Name: thesis_notes; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.thesis_notes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    thesis_id uuid NOT NULL,
    faculty_id uuid NOT NULL,
    content character varying(300) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.thesis_notes OWNER TO tsifakhs_user;

--
-- Name: thesis_topics; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.thesis_topics (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    pdf_file_path character varying(500),
    created_by uuid NOT NULL,
    is_available boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.thesis_topics OWNER TO tsifakhs_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: tsifakhs_user
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    user_type public.user_type NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    student_id character varying(20),
    phone character varying(20),
    address text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO tsifakhs_user;

--
-- Name: committee_members committee_members_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.committee_members
    ADD CONSTRAINT committee_members_pkey PRIMARY KEY (id);


--
-- Name: committee_members committee_members_thesis_id_faculty_id_key; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.committee_members
    ADD CONSTRAINT committee_members_thesis_id_faculty_id_key UNIQUE (thesis_id, faculty_id);


--
-- Name: examination_details examination_details_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.examination_details
    ADD CONSTRAINT examination_details_pkey PRIMARY KEY (id);


--
-- Name: examination_details examination_details_thesis_id_key; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.examination_details
    ADD CONSTRAINT examination_details_thesis_id_key UNIQUE (thesis_id);


--
-- Name: grades grades_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_pkey PRIMARY KEY (id);


--
-- Name: grades grades_thesis_id_faculty_id_key; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_thesis_id_faculty_id_key UNIQUE (thesis_id, faculty_id);


--
-- Name: status_history status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_pkey PRIMARY KEY (id);


--
-- Name: thesis_assignments thesis_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_assignments
    ADD CONSTRAINT thesis_assignments_pkey PRIMARY KEY (id);


--
-- Name: thesis_assignments thesis_assignments_student_id_key; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_assignments
    ADD CONSTRAINT thesis_assignments_student_id_key UNIQUE (student_id);


--
-- Name: thesis_notes thesis_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_notes
    ADD CONSTRAINT thesis_notes_pkey PRIMARY KEY (id);


--
-- Name: thesis_topics thesis_topics_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_topics
    ADD CONSTRAINT thesis_topics_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_student_id_key; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_student_id_key UNIQUE (student_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_committee_members_faculty; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_committee_members_faculty ON public.committee_members USING btree (faculty_id);


--
-- Name: idx_committee_members_thesis; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_committee_members_thesis ON public.committee_members USING btree (thesis_id);


--
-- Name: idx_grades_thesis; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_grades_thesis ON public.grades USING btree (thesis_id);


--
-- Name: idx_status_history_thesis; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_status_history_thesis ON public.status_history USING btree (thesis_id);


--
-- Name: idx_thesis_assignments_status; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_thesis_assignments_status ON public.thesis_assignments USING btree (status);


--
-- Name: idx_thesis_assignments_student; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_thesis_assignments_student ON public.thesis_assignments USING btree (student_id);


--
-- Name: idx_thesis_assignments_supervisor; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_thesis_assignments_supervisor ON public.thesis_assignments USING btree (supervisor_id);


--
-- Name: idx_thesis_notes_thesis; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_thesis_notes_thesis ON public.thesis_notes USING btree (thesis_id);


--
-- Name: idx_thesis_topics_created_by; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_thesis_topics_created_by ON public.thesis_topics USING btree (created_by);


--
-- Name: idx_users_student_id; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_users_student_id ON public.users USING btree (student_id);


--
-- Name: idx_users_type; Type: INDEX; Schema: public; Owner: tsifakhs_user
--

CREATE INDEX idx_users_type ON public.users USING btree (user_type);


--
-- Name: examination_details update_examination_details_updated_at; Type: TRIGGER; Schema: public; Owner: tsifakhs_user
--

CREATE TRIGGER update_examination_details_updated_at BEFORE UPDATE ON public.examination_details FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: thesis_assignments update_thesis_assignments_updated_at; Type: TRIGGER; Schema: public; Owner: tsifakhs_user
--

CREATE TRIGGER update_thesis_assignments_updated_at BEFORE UPDATE ON public.thesis_assignments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: thesis_topics update_thesis_topics_updated_at; Type: TRIGGER; Schema: public; Owner: tsifakhs_user
--

CREATE TRIGGER update_thesis_topics_updated_at BEFORE UPDATE ON public.thesis_topics FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: tsifakhs_user
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: committee_members committee_members_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.committee_members
    ADD CONSTRAINT committee_members_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: committee_members committee_members_thesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.committee_members
    ADD CONSTRAINT committee_members_thesis_id_fkey FOREIGN KEY (thesis_id) REFERENCES public.thesis_assignments(id) ON DELETE CASCADE;


--
-- Name: examination_details examination_details_thesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.examination_details
    ADD CONSTRAINT examination_details_thesis_id_fkey FOREIGN KEY (thesis_id) REFERENCES public.thesis_assignments(id) ON DELETE CASCADE;


--
-- Name: grades grades_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: grades grades_thesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_thesis_id_fkey FOREIGN KEY (thesis_id) REFERENCES public.thesis_assignments(id) ON DELETE CASCADE;


--
-- Name: status_history status_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: status_history status_history_thesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_thesis_id_fkey FOREIGN KEY (thesis_id) REFERENCES public.thesis_assignments(id) ON DELETE CASCADE;


--
-- Name: thesis_assignments thesis_assignments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_assignments
    ADD CONSTRAINT thesis_assignments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: thesis_assignments thesis_assignments_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_assignments
    ADD CONSTRAINT thesis_assignments_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: thesis_assignments thesis_assignments_topic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_assignments
    ADD CONSTRAINT thesis_assignments_topic_id_fkey FOREIGN KEY (topic_id) REFERENCES public.thesis_topics(id) ON DELETE CASCADE;


--
-- Name: thesis_notes thesis_notes_faculty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_notes
    ADD CONSTRAINT thesis_notes_faculty_id_fkey FOREIGN KEY (faculty_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: thesis_notes thesis_notes_thesis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_notes
    ADD CONSTRAINT thesis_notes_thesis_id_fkey FOREIGN KEY (thesis_id) REFERENCES public.thesis_assignments(id) ON DELETE CASCADE;


--
-- Name: thesis_topics thesis_topics_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: tsifakhs_user
--

ALTER TABLE ONLY public.thesis_topics
    ADD CONSTRAINT thesis_topics_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict cBjPKHrBkxAi3CB5OpWEyrNxAHCNs4dWDCldQSNG7vcB7dEocSrFr1o9VykzRDS

